[[source]]
name = "movieAPI"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
gunicorn = "*"
psycopg2 = "*"
django-heroku = "*"
django-cors-headers = "*"

[requires]
python_version = "3.8.2"